html, body {
    height:100%;
    margin: 0;
    background: pink;
}
.mainscreen {
    background: pink;
    left:0px;
    right: 0px;
    bottom: 25px;
    padding:5px;
    position:absolute;
    overflow:scroll;
    font-family: monospace;
    font-size: 14px;
}
.textinput {
    background: black;
    position:fixed;
    bottom: 0px;
    left:-5px;
    height: 20px;
    min-width: 110%;
    padding: 10px;
    color:white;
    font-family: monospace;
    font-size: 14px;
}
.white {
    background: grey;
}
.autobox {
    width: 200px;
    height: 100px;
    position: absolute;
    bottom: 0px;
    background:white;
}
.red {
    color: red;
}
